<template lang="pug">
   v-card(class="ma-auto")
    v-card-text
     div
      video(ref="jv" controls controlsList="noremoteplayback nodownload" autoplay muted="muted")
</template>

<script>
import { Client } from 'janus-gateway-js';

export default {
  props: {
    stream: {
      type: Number,
      default: 10
    }
  },
  data: () => ({
    janus: null,
    plugin: null
  }),
  mounted() {
    const self = this;

    this.janus = new Client(process.env.JanusURL, { keepalive: 'true' });
    this.janus
      .createConnection('some-id')
      .then(connection => {
        return connection.createSession();
      })
      .then(session => {
        self.janus = session;
        return session.attachPlugin('janus.plugin.streaming');
      })
      .then(plugin => {
        self.plugin = plugin;
        // console.log('plugin', self.plugin);
        plugin.on('message', message => {
          console.log('message', message);
        });
        plugin.on('pc:track:remote', event => {
          const video = self.$refs.jv;
          video.srcObject = event.streams[0];
        });
        return plugin.connect(self.stream);
      })
      .then(connect => {
        console.log('connect', connect);
      });
  }
};
</script>

<style scoped>
video {
  width: 100%;
  height: auto;
}
</style>
