<template lang="pug">
  v-app(id="janus")
    v-content
      v-container
        v-layout(align-center justify-center)
         v-col
          v-row
           v-flex(xs12 md5 lg5)
            <janus-stream :stream=10></janus-stream>
           v-flex(xs12 md5 lg5)
            <janus-stream :stream=11></janus-stream>
          v-row
           v-flex(xs12 md5 lg5)
            <janus-stream :stream=12></janus-stream>
           v-flex(xs12 md5 lg5)
            <janus-stream :stream=13></janus-stream>
</template>

<script>
import JanusStream from '@/components/JanusStream.vue';

export default {
  components: {
    JanusStream
  },
  data: () => ({}),
  layout: 'clear',
  mounted() {},
  methods: {}
};
</script>

<style scoped></style>
